body {
	background-image: url("/Users/ookie/Desktop/Ookie/Programming Documents/HTML/TruthBTold Remix/Code/CSS/Images/Logos/TransparencyLogo.jpg");
	background-attachment: fixed;
	min-height: 100%;
	min-width: 1024px;
	width: 100%;

	color: lightblue; /*font color*/
}

ul.a {
	list-style-type: none;
	margin-top: 5px;
	padding: 10px 20px 20px 10px;
	width: 89px;
	background-color: darkgray;
	height: 30%;
	position: fixed;
	overflow: auto;
	border: 1px solid green;
}

ul.b {
	list-style-type: none;
	margin-left: 7%;
	margin-top: 7%;
}

li a {
	display: block;
	color: white;
	padding: 8px 0px 8px 8px;
	text-decoration: none;
	border: 1px solid black;
	width: 90px;
}

li a.active  {
	background-color: darkgreen;
	color: white;
	width: 90px;
}

li a:hover:not(.active) {
	background-color: black;
	color: white;
	width: 90px;
}

div.c {
	border-size: 2px;
	border-style: solid;
	border-color: white;
	margin: 5px 25px 5px 125px; 
	padding: 15px 16px; 
	height: fixed; 
	text-align: center;
	background-color: black;
	opacity: 0.8;
	filter: alpha(opacity=80); /*Filter for IE 8 and earlier */
}

div.artists {
	border-size: 2px;
	border-style: solid;
	border-color: white;
	margin: 5px 25px 5px 125px; 
	padding: 15px 16px; 
	height: fixed; 
	text-align: center;
	background-color: black;
	opacity: 1.0;
	filter: alpha(opacity=100); /*Filter for IE 8 and earlier */
}

div.inline1 {
	margin: 5px 25px 5px 125px; 
	padding: 15px 16px; 
	height: fixed; 
	text-align: center;
	background-color: black;
	opacity: 0.8;
	filter: alpha(opacity=80); /*Filter for IE 8 and earlier */
}

table {
	table-layout: fixed;
	word-wrap: break-word;
	overflow: fixed;
	background-color: #1e1e1e;
}

th {
	background-color: silver;
	word-wrap: break-word;
}